<div 
(click)="makeCafeFavourite(cafeObject)"
[ngClass]="{'favouritedBackgroundColor':cafeObject.favourite }" 
class="cafesidebarItem">
  <span class="cafeName">{{cafeObject.name}}</span>

  <i *ngIf="!cafeObject.favourite" class="favouriteCafe fa fa-star-o"></i>
  <i *ngIf="cafeObject.favourite" class="favouriteCafe fa fa-star"></i>
</div>
