@import "../../../../_variables.scss";

.cafesidebarItem{
    margin:1px;
    border: 0.5px solid rgba($colorF,0.3);
    background-color:rgba($colorF,0.2);
    padding:15px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 3px;

}

.favouriteCafe{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-right:10px;
}

.favouritedBackgroundColor{
    background-color:rgba(green,0.3);
}