.flexed{
    display:flex;
    flex-direction: row;
}

.cafelist{
    float:left;
    width:20vw;
}
.displayarea{
    width:80vw;
    background-color:red;
    text-align: center;
    height:100vh;
}

@media only screen and (max-width: 600px) {
    .cafelist {
        float:left;
        width:100vw;
      }

      .displayarea{
        width:0vw;
        background-color:red;
        text-align: center;
        height:100vh;
    }
}