<div class="container-fluid barcontainer">
  <div class="cafeList">
    <div *ngFor="let cafe of localCafeList">
      <app-cafe-sidebar-item [cafeObject]=cafe></app-cafe-sidebar-item>
    </div>
  </div>
</div>
