@import "../../../../_variables.scss";
.barcontainer {
  background-color: $colorB;
  height: 100vh;
  padding: 10px 0px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.cafeList{
  overflow-y: scroll;
}



/* width */


.showmap {
  display: none;
}

@media only screen and (max-width: 600px) {
  .showmap {
    display: block;
  }
}
